<div class="layout" *ngIf="isLoggedIn()">

  <div style="margin-bottom: 50px;">
    <input class="upload-song" placeholder="Add a song to playlist with Youtube URL" [(ngModel)]="youtubeURL">
    <button mat-button class="icon-color" (click)="addSong(youtubeURL)"><mat-icon>add</mat-icon></button>
  </div>
  <div>
    <table mat-table class="mat-elevation-z8" [dataSource]="dataSource">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let song"> {{song.title}} </td>
      </ng-container>
  
      <ng-container matColumnDef="genre">
        <th mat-header-cell *matHeaderCellDef> Genre </th>
        <td mat-cell *matCellDef="let song"> {{song.genre}} </td>
      </ng-container>
  
      <ng-container matColumnDef="views">
        <th mat-header-cell *matHeaderCellDef> Views </th>
        <td mat-cell *matCellDef="let song"> {{song.views | number}} </td>
      </ng-container>
  
      <ng-container matColumnDef="likes">
        <th mat-header-cell *matHeaderCellDef> <img src="../../../static/images/like.png" style="width:30px" alt="Like"> </th>
        <td mat-cell *matCellDef="let song"> {{song.likes | number}} </td>
      </ng-container>
  
      <ng-container matColumnDef="dislikes">
        <th mat-header-cell *matHeaderCellDef> <img src="../../../static/images/dislike.png" style="width:30px" alt="Disike"> </th>
        <td mat-cell *matCellDef="let song"> {{song.dislikes | number}} </td>
      </ng-container>
  
      <ng-container matColumnDef="play">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td class="download-cell" mat-cell *matCellDef="let song" style="min-width: 50px;"><button class="button play-button" (click)="this.playSong(song.songId)">Play</button> </td>
      </ng-container>
  
      <ng-container matColumnDef="remove">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let song" style="min-width: 60px;"> <button class="button remove-button" (click)="this.removeSong(song.id)">Remove</button> </td>
      </ng-container>

      <ng-container matColumnDef="recommandation">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let song" style="min-width: 60px;"> <button class="button recommandation-button" (click)="this.viewRecommandation(song.channelId)">Recommandation</button> </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
      style="position: absolute; bottom: 0; width: calc(100% - 250px);"
      [pageSizeOptions]="[10]">
    </mat-paginator>
  </div>
  
  </div>
  