html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

.remove-button {
  border: 1px solid #dc3545;
  background-color: #dc3545
}

.remove-button:hover {
  color: #dc3545;
  background-color: white
}

.play-button {
  border: 1px solid #028090;
  background-color: #028090
}

.play-button:hover {
  color: #028090;
  background-color: white
}

.recommandation-button {
  border: 1px solid #02903d;
  background-color: #02903d
}

.recommandation-button:hover {
  color: #02903d;
  background-color: white
}

.upload-song {
  font-size: 16px;
  border: none;
  border-radius: 20px 0 0 20px;
  padding: 5px 10px;
  width: 400px;
  margin: 80px 0 0 10%;
  outline: none;
}

.upload-song:focus {
  border: none
}

@media (max-width: 640px) {
  .upload-song {
    width: 100%;
  }
}
.card {
  max-width: 200px;
  background: #FFD524;

}
.layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 0;
  background: #f0f2f5;
  width: -webkit-calc(100% - 240px);
  width: -moz-calc(100% - 240px);
  width: calc(100% - 240px);
  float: right;
  height: calc(100vh - 56px);
  overflow-y: scroll;
}

table {
  margin-bottom: 25px!important;
}

.header-image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-ibLPYzuM8mVQxPqBmWIR6IjNFXdWTofU6o8KPUY6b_yoYhRvFw');
  background-size: cover;
}

.text-color{
  color: #55185D;
  font-weight:bold;
}

.icon-color{
  color: lightcyan;
  font-weight:bold;
  background: #028090;
  height:34px;
  border-radius: 0 20px 20px 0;
}

.icon-color:hover{
  background: #00A896;
}
table {
  width: 80%;
  margin: auto;
}
.download-button {
  max-width: 120px;
  height: 30px;
}

.download-cell {
  max-width:0px
}
