<div *ngIf="!isLoggedIn()">
  <mat-card class="example-card" >
    <div class="logo" href="/"><img src="../../static/images/logo.png" style="width:100px" alt="logo"></div>
    <mat-card-content class="content-login">
      <br/>
      <div class="row">
        <div class="login-form">
          <form (ngSubmit)="submitForm()"
                #formControl="ngForm"
                #formElement
          >
            <fieldset>
              <div class="form-group">
                <label for="nameInput">Name:</label>
                <input type="text"
                       #nameElement
                       #nameControl="ngModel"
                       placeholder="Name:"
                       name="username"
                       id="nameInput"
                       class="form-control"
                       [(ngModel)]="user.name"
                       required>
              </div>
              <div class="form-group">
                  <label for="emailInput">Email:</label>
                  <input type="text"
                         #emailElement
                         #emailControl="ngModel"
                         placeholder="Email"
                         name="username"
                         id="emailInput"
                         class="form-control"
                         [ngClass]="{form_invalid: !validateEmail(), form_valid:validateEmail()}"
                         [(ngModel)]="user.email"
                         required>
              </div>
              <div class="errorMessage" *ngIf="!validateEmail()&&emailControl.touched">
                The email you entered is not a valid email address.
              </div>
              <div class="form-group">
                <label for="passwordInput">Password:</label>
                <input type="password"
                       #passwordElement
                       #passwordControl="ngModel"
                       placeholder="Password"
                       name="password"
                       id="passwordInput"
                       class="form-control"
                       [(ngModel)]="user.password"
                       [ngClass]="{form_invalid: user.password === '' || !validatePassword(), form_valid: user.password !== '' && validatePassword()}"
                       required>
              </div>
              <div class="errorMessage" *ngIf="!validatePassword()&&passwordControl.touched">
                The password is too short. Required minimum 8 characters.
              </div>
              <div class="form-group">
                <label for="confirmationPasswordInput">Confirm Password:</label>
                <input type="password"
                       #passwordConfirmElement
                       #passwordConfirmControl="ngModel"
                       placeholder="Confirm Password"
                       name="password"
                       id="confirmationPasswordInput"
                       class="form-control"
                       [(ngModel)]="user.confirmationPassword"
                       [ngClass]="{form_invalid: user.confirmationPassword === '' || !validateConfirmationPassword(), form_valid: user.confirmationPassword !== '' && validateConfirmationPassword()}"
                       required>
              </div>
              <div class="errorMessage" *ngIf="!validateConfirmationPassword()&&passwordConfirmControl.touched">
                The confirmation password doesn't match with the password.
              </div>
            </fieldset>

            <div class="submit-section">
              <button type="submit"
                [disabled]="!validateEmail() || !validatePassword()"
                color="#028090"
                class="register-button">
                Register
              </button>
            </div>

            <div class="errorMessage server-error" *ngIf="displayError()">
              {{displayErrorMessage()}}
            </div>
          </form>

          <div class="account-message">
            Have an account? <a href="/">Sign in</a>
          </div>

        </div>
      </div>



    </mat-card-content>

  </mat-card>

</div>
