html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

.fill-space {
  flex: 1 1 auto;
}

.layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 0;
  background: #f0f2f5;
  height: 100vh;
  width: -webkit-calc(100% - 250px);
  width: -moz-calc(100% - 250px);
  width: calc(100% - 250px);
  float: right;
}

.menu-container {
  position: fixed;
}
.menu-button {
  text-align: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333;
  font-weight: 400;
}

.menu-button:hover {
  /*background-color: transparent;*/
  /*color: #00A896;*/
}

.menu-button:focus {
  outline:none;
}

.logout-button {
  color: #f5222d;
  border-radius: 20px;
  background-color: #f5f5f5;
  border: 2px solid #d9d9d9;
}

.logout-button:hover {
  background: #f5222d;
  color: white;
}



.active {
  background-color: #e6f7ff;
  border-right: 4px solid;
  color: #00A896;
  font-weight: 500;
}

.input-label {
  width: 300px;
}

table {
  width: 100%;
  text-align: center;
}

th.mat-header-cell {
  text-align: center;
}

.list-routes-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.mat-toolbar {
  background: #55185D;
  color: #00A896
}
.list-routes-page .bug-table {
  width: 70%;
  min-width: 900px;
}

.list-routes-page .bugs-controls {
  width: 20%;
  min-width: 200px;
}

.bug-sorts .mat-checkbox {
  display: block;
}

.layoutWrapper {
  min-height: 100vh;
  display: flex;
}

.menuWrapper {
  width: 240px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 20px 0px;
  border-right: 1px solid;
}

.logoWrapper {
  margin: 24px 48px 48px;
  max-width: 140px
}

.menuLinks {
  list-style-type: none;
  flex-grow: 2;
}

.menuLinksBottom {
  list-style-type: none;
}

.logo{
  padding: 60px 0 60px 0;
}
