<div class="menu-container" *ngIf="isLoggedIn()">
  <mat-toolbar class=" layoutWrapper menuWrapper" >

    <div class="logo" href="/"><img src="../../static/images/logo.png" style="width:150px" alt="logo"></div>

    <button mat-button class="menu-button"
            *ngIf="isLoggedIn()"
            routerLinkActive="active" routerLink="../playlist">
      <i class="material-icons">
        queue_music
      </i>
      Playlist
    </button>

    <button mat-button class="menu-button"
            *ngIf="isLoggedIn() "
            routerLinkActive="active" routerLink="../statistics">
      <i class="material-icons">
        equalizer
      </i>
      Genre Statistics
    </button>

    <!-- <button mat-button class="menu-button"
            *ngIf="isLoggedIn() "
            routerLinkActive="active" routerLink="../account">
      <i class="material-icons">
        account_circle
      </i>
      My Account
    </button> -->


    <span class="fill-space"></span>


    <button mat-button class="logout-button"
            *ngIf="isLoggedIn()"
            (click)="logout()" routerLinkActive="active" routerLink="../register">
      <mat-icon aria-label="Sign in">exit_to_app</mat-icon>
      Log Out
    </button>

  </mat-toolbar>

  <br/>


</div>


<!--<div style="padding: 0px;" *ngIf="isLoggedIn()">-->

<router-outlet></router-outlet>


<!--</div>-->
