<div *ngIf="!isLoggedIn()">
  <mat-card class="example-card" >
    <div class="logo" href="/"><img src="../../static/images/logo.png" style="width:100px" alt="logo"></div>


    <mat-card-content class="content-login">
      <br/>
      <div class="row">
        <div class="login-form">
          <form (ngSubmit)="submitForm()"
                #formControl="ngForm"
                #formElement
          >
            <!--              *ngIf="!isLoggedIn()"-->

            <fieldset>
              <div class="form-group">
                  <label for="emailInput">Email:</label>
                  <input type="text"
                         #emailElement
                         #emailControl="ngModel"
                         placeholder="Email:"
                         name="username"
                         id="emailInput"
                         class="form-control"
                         [ngClass]="{form_invalid: !validateEmail(), form_valid:validateEmail()}"
                         [(ngModel)]="userLogin.email"
                         required>
              </div>
              <div class="errorMessage" *ngIf="!validateEmail()&&emailControl.touched">
                The email you entered is not a valid email address.
              </div>
              <div class="form-group">
                <label for="passwordInput">Password:</label>
                <input type="password"
                       #passwordElement
                       #passwordControl="ngModel"
                       placeholder="Password"
                       name="password"
                       id="passwordInput"
                       class="form-control"
                       [(ngModel)]="userLogin.password"
                       [ngClass]="{form_invalid: userLogin.password === '', form_valid: userLogin.password !== '' && validatePassword()}"
                       required>
              </div>
              <div class="errorMessage" *ngIf="!validatePassword()&&passwordControl.touched">
                The password is too short. Required minimum 8 characters.
              </div>
            </fieldset>

            <div class="submit-section">
              <button type="submit"
                [disabled]="!validateEmail() || !validatePassword()"
                color="#028090"
                class="login-button">
                Login
              </button>
            </div>


            <div class="errorMessage server-error" *ngIf="displayError()">
              {{displayErrorMessage()}}
            </div>
          </form>

          <div class="account-message">
            Don't have an account? <a href="/register">Sign up</a>
          </div>

        </div>
      </div>



    </mat-card-content>

  </mat-card>

</div>
