.buttons {
    max-width: 120px;
    margin: auto;
    position: relative;
}

.remove-dialog {
    text-align: center;
}

.title {
    padding: 50px 0 30px;
    font-size: 18px;
    font-weight: 500;
}

.no-button {
    color: black;
    position: absolute;
    left: 0;
    border: 1px solid black;
}

.no-button:hover {
    background-color: white;
}

.yes-button {
    position: absolute;
    right: 0;
    border: 1px solid #dc3545;
    background-color: #dc3545;
}

.yes-button:hover {
    color: #dc3545;
    background-color: white;
}