<div class="remove-dialog">
  <p class="title">Are you sure?</p>
  <div class="buttons">
    <button class="button no-button" (click)="this.onNoClick()">No</button>
    <button class="button yes-button" (click)="this.deleteSong()">Yes</button>
  </div>
</div>
