/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.button {
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    color: white;
    padding: 5px 10px;
    outline: none!important;
}

.mat-dialog-container {
    padding: 0!important;
}

.app-song-dialog.ng-star-inserted {
    display: grid!important;
}

.account-message {
    text-align: center;
    margin-top: 20px;
}

.submit-section {
    text-align: center;
}