<div class="layout" *ngIf="isLoggedIn()">
  <canvas mdbChart
      *ngIf="populatedData"
      [chartType]="chartType"
      [datasets]="chartDatasets"
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
  </canvas>

  <div style="margin: 50px 0">
    <p style="font-size: 22px;">
      For many of us, our taste in music is an integral part of our identity – so much so that, to a certain extent, 
      what we listen to is who we are. The songs of our youth, heard a thousand times, fill our headspace with stray lyrics 
      and infectious grooves, creating a filter for the way we see, hear, and understand the world from then on out. And while 
      some have a less conscious, more organic approach, others actively draw boundaries between the music they accept and the 
      music they deny – and by extension, the people associated with those musical cultures, as well.
    </p> 
  </div>

  <div>
    <H1>What Your Favorite Music Genre Says About Your Personality</H1>
  </div>

  <div *ngIf="favoriteGenre == 'Blues'">
    <h3>Campaigners (52%)</h3>
    <p>
      Although the songs of Robert Johnson, Son House, or Lead Belly have been covered by countless artists, their original lonesome, 
      stripped-down howls contain an authenticity, and depth of feeling, that Campaigner personalities may find unmatched in other music. 
      Prone to bouts of melancholy in reaction to failures both real and perceived, Campaigners may find that listening to the blues may 
      often prove to be a cure for their own despondence.    
    </p>

    <h3>Protagonists (52%)</h3>
    <p>
      There is an epic quality to the figure of the blues singer, reinforced and reiterated through the hyperbolic boasts and laments of 
      their songs. Loving broadly and sorrowing deeply, Protagonists may well relate to the larger-than-life blues stylings of Howlin’ Wolf, 
      Muddy Waters, or John Lee Hooker. 
    </p>

    <h3>Consuls (47%)</h3>
    <p>
      The elemental purity of the blues – the wellspring from which so much of modern popular music flows – may explain the love that Consuls 
      have for the blues. And while Consuls may not be the type to dig through crates of old vinyls in search of hidden treasures, the smooth 
      virtuosity of radio-friendly blues guitarists like Bo Diddley, B.B. King, or Stevie Ray Vaughan may nevertheless hold a timeless appeal.    
    </p>
  </div>

  <div *ngIf="favoriteGenre == 'Country'">
    <h3>Consuls (53%)</h3>
    <p>
      Once the province of humble balladeers from the southeast and western regions of the United States, country music has now become one of the 
      most popular genres around the world, making it a perfect match for Consuls, one of the most popular – and popularity-seeking – personality 
      types around. And while country music has its share of outlaws, rebels, and rabble-rousers, Consuls are likely to gravitate more towards artists 
      like Taylor Swift or Garth Brooks – fun-loving, widely relatable acts as eager to entertain as they are reluctant to court controversy.    
    </p>

    <h3>Entertainers (52%)</h3>
    <p>
      Much of country music has a strangely dichotomous toe-tapping melancholy that Entertainers well understand, sharing a propensity for turning 
      private heartbreak into a public performance. The sad beauty of songs by Hank Williams, George Jones, or Patsy Cline may be exactly the catharsis 
      that Entertainers need in times of trial – and after they’ve sung the pain away, they may be more than happy to stick around for the more rollicking 
      tunes in the country music catalog.
    </p>

    <h3>Protagonists (46%)</h3>
    <p>
      The larger than life, Byronic heroes that populate country music – both in songs and on stage – may hold great appeal for Protagonists, for whom the impulse 
      to “be somebody” runs more strongly than for many other personality types. Protagonists may have little trouble seeing themselves in the strong narratives 
      surrounding the cowboys, truckers, and assorted other archetypes of country music, not to mention the mythical personas of figures like “Man in Black” Johnny Cash.    
    </p>
  </div>

  <div *ngIf="favoriteGenre == 'Electronic'">
    <h3>Entrepreneurs (79%)</h3>
    <p>
      For many DJs, electronica is all about using technology to amplify the sonic intensity of music to heights that analog instruments simply 
      cannot match, and this faster, louder, harder philosophy may be perfectly in tune with an Entrepreneur’s own sensibilities. Dubstep, trap, 
      and other club banging varieties of electronica from artists like Skrillex, Diplo, or Lil Jon may get an Entrepreneur’s blood pumping like 
      nothing else in the realm of music.    
    </p>

    <h3>Campaigners (75%)</h3>
    <p>
      While Entrepreneur personalities may enjoy the propulsive properties of electronica, Campaigners may tend to go for the other end of the 
      spectrum, music designed more for relaxation than excitation. As a result, harried Campaigners may prefer mellower strains of electronic music, 
      such as that produced by Daft Punk, Goldfrapp, or Portishead. 
    </p>

    <h3>Commanders (70%)</h3>
    <p>
      There is an inherent and inescapable glitchiness to the movements of live musicians, and while this chaotic human element has its own appeal, 
      Commanders may be drawn more to the machine efficiency and microscopic control of electronic music. Electronica impresarios from Brian Eno to 
      Aphex Twin to Autechre offer up alien soundscapes that nevertheless make Commanders feel right at home.    
    </p>
  </div>

  <div *ngIf="favoriteGenre == 'Hip Hop'">
    <h3>Entrepreneurs (58%)</h3>
    <p>
      Perhaps no other genre of music is as personality-driven as rap, a milieu that more often than not consists of one mouth and one mic, 
      battling for verbal supremacy. The impulse to be – and the bold assertion that one simply is – the Greatest of All Time is a common element 
      for countless rappers, from Nas to Notorious B.I.G., Tupac to Jay-Z, and this brash and boundless confidence comes just as easily to the 
      Entrepreneur personality type. In particular, rap music that extols the pleasures of material success may reflect an Entrepreneur’s own 
      lifestyle – or aspirations, for those whose ventures have yet to turn as lucrative as they might like.    
    </p>

    <h3>Entertainers (57%)</h3>
    <p>
      Hip-hop artists are often stereotyped as either cold-blooded criminals or rapacious capitalists – often, both – but while thuggishness 
      and greed is a facet of the genre, they hardly tell the whole story. At its heart, hip-hop is about communicating one’s love of language 
      to an audience, as demonstrated by the undeniable mastery the greatest MCs have over it. In short, rappers are entertainers, so it should 
      come as no surprise that the Entertainer personality type might be drawn to hip-hop, especially the playful, party mentality of groups 
      from The Sugarhill Gang to A Tribe Called Quest and Outkast.
    </p>

    <h3>Executives (57%)</h3>
    <p>
      The past few decades have seen hip-hop grow from underground phenomenon to niche market to omnipresent juggernaut, listened to around the 
      globe and influencing music of every genre. Where once rap may have been too outré for Executives to tune in, it has now permeated culture 
      to such a degree that, for all intents and purposes, rap music is pop music. And while Executives may have little knowledge of or interest 
      in old-school rhymes, artists like Kanye West or Drake may be simply too popular to ignore.    
    </p>
  </div>

  <div *ngIf="favoriteGenre == 'Jazz'">
    <h3>Commanders (64%)</h3>
    <p>
      The genius of jazz may be in improvisation, but it is an improvisation born of absolute mastery of one’s instrument, lending an uncanny 
      prescience to one’s movements, ensuring that each will be in service to some unwritten sonata. Unpredictable yet unerringly precise, the 
      bebop stylings of Miles Davis, John Coltrane, or Thelonious Monk may remind Commanders of the same qualities that they prize in themselves. 
    </p>

    <h3>Protagonists (64%)</h3>
    <p>
      As a personality type that is positively brimming with enthusiasm and confidence, Protagonists might very well seek out music that is equally 
      brassy and bold, such as that of the big band era of jazz. Exciting and infectious, the swinging sounds of Duke Ellington or Glenn Miller may 
      be all the excuse that a Protagonist needs to turn their living room into a ballroom.
    </p>

    <h3>Campaigners (62%)</h3>
    <p>
      Campaigners have a habit of stretching themselves too thin, which tends to happen when one attempts the sort of all-encompassing, paradigm-shifting 
      projects that are a Campaigner’s passion in life. Fortunately for the personality type, Campaigners understand the value of down time, and cool 
      jazz performers like Dave Brubeck or Chet Baker may be just what they need to do after a hard day of saving the world.    
    </p>
  </div>

  <div *ngIf="favoriteGenre == 'Metal'">
    <h3>Entrepreneurs (50%)</h3>
    <p>
      Fast, loud, and heavy: attributes as easily applied to Entrepreneurs as to the brand of music that comes roaring out of their speakers on a regular 
      basis. Although people with the Entrepreneur personality type may steer clear of some of the more extreme elements in metal, few can deny the simple 
      headbanging pleasures of Motörhead, Guns N’ Roses, or Metallica.    
    </p>

    <h3>Logicians (48%)</h3>
    <p>
      Testing boundaries has always been a core aspect of the metal experience, and Logicians may particularly appreciate artists that take the genre in 
      new and interesting directions. The thematic and instrumental innovations of bands like Tool, System of a Down, or Mastodon may excite Logicians in 
      ways that are as cerebral as they are visceral. 
    </p>

    <h3>Architects (42%)</h3>
    <p>
      Virtuosity is a key component of metal, with some groups going to formidable lengths to achieve dizzying symphonic complexity in their compositions, 
      a trait that Architects may admire greatly. Artists like Yngwie Malmsteen, DragonForce, or Meshuggah may leave Architects awestruck, thoroughly spoiling 
      them for music of lesser technical sophistication.    
    </p>
  </div>

  <div *ngIf="favoriteGenre == 'Pop'">
    <h3>Entertainers (88%)</h3>
    <p>
      If clever lyrics or canny musicianship are at the heart of some genres, pure showmanship may be the prime mover behind most of pop music, 
      where the pageantry of performance is as important as the performance itself. The elaborate costumes and intricate dance routines of Lady 
      Gaga or Katy Perry insist that music be an all-encompassing experience, visual as well as auditory, a sentiment that Entertainers are 
      likely to share wholeheartedly.    
    </p>

    <h3>Consuls (80%)</h3>
    <p>
      Pop music can be thought of as the soundtrack of society, and Consuls never want to be left out of the chorus. Whether it is Michael Jackson, 
      Madonna, or Justin Bieber who currently dominates the charts, Consuls are quick to share the tastes of their peers, and loathe to be ignorant 
      of the songs on everyone’s lips. 
    </p>

    <h3>Adventurers (78%)</h3>
    <p>
      Personalities whose lives are fueled by powerful – but often powerfully repressed – feelings, Adventurers may have a soft spot for the big voices 
      and bold emoting of pop. Artists like Beyonce, Mariah Carey, or Christina Aguilera may be particular favorites, as pop singers who infuse intense 
      passion into every note of their performances.    
    </p>
  </div>

  <div *ngIf="favoriteGenre == 'Rock'">
    <h3>Debaters (84%)</h3>
    <p>
      Perhaps it is the hybridized nature of rock music, the myriad influences that have melded to make the form, that lends itself so well to debate 
      – Stones vs. Beatles, Beatles vs. Elvis, garage rock vs. arena rock – but nevertheless, it may be this aspect of the genre that most appeals to 
      the ever eager to argue Debaters. Or it could simply be the inherent contentiousness of rock as a whole, the rebellious spirit that defies categorization 
      even as finer lines are drawn – either way, people with the Debater personality type may have an elaborate set of justifications for why their bands 
      are worthy of inclusion in the pantheon of rock, while others should be condemned forevermore to the bargain bins of history.    
    </p>

    <h3>Mediators (82%)</h3>
    <p>
      From Springsteen to Kings of Leon, there has always been a rough poetry to rock, a rawness of feeling, that may hold great appeal for the innately, and 
      intensely, sensitive Mediators. Indeed, while some might find the authenticity of rock suspect, Mediators may be quick to take the earnestness of the 
      form at face value. 
    </p>

    <h3>Logicians (82%)</h3>
    <p>
      Recklessly experimental and fearlessly rebellious, rock music has always had an outsider appeal – even when one subgenre has been tamed and replicated, 
      another (prog rock, new wave, or indie rock) has turned the prevailing rock paradigm on its head, making the unthinkable the new commonplace, and what 
      was once popular, now passé. Logicians, who have a similar disregard for the status quo, may see the world of rock as being populated with kindred spirits.    
    </p>
  </div>

  <div style="margin: 50px 0; font-size: 16px">
    Source: <a href="" target="_blank">https://www.16personalities.com/articles/music-preferences-by-personality-type</a>
  </div>
</div>

