canvas {
    height: auto;
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    line-height: 32px;
}

.layout {
    margin-left: 250px;
    padding: 0 30px;
}